commands/
run_MCMC2.sh
run_MCMC3.sh
run_MCMC4.sh
run_MCMC5.sh
run_MCMC6.sh
ancestral_reconstruction2.sh
ancestral_reconstruction3.sh
ancestral_reconstruction4.sh
ancestral_reconstruction5.sh
ancestral_reconstruction6.sh
old/
create_model_file2.sh
create_model_file3.sh
create_model_file4.sh
17-02-13nonTransformedAGERAnalysis.html
17-02-22nonTransformedAGERAnalysis.html
17-02-27LogAGERAnalysis.html
ancestral_reconstruction_betterlimit.sh
*_files*
17-02-27TransofrmationCompare.html
17-02-22SQRTAGERAnalysis.html
