commands/
run_MCMC2.sh
run_MCMC3.sh
run_MCMC4.sh
run_MCMC5.sh
run_MCMC6.sh
ancestral_reconstruction2.sh
ancestral_reconstruction3.sh
ancestral_reconstruction4.sh
ancestral_reconstruction5.sh
ancestral_reconstruction6.sh
