commands/
runMCMC2.sh
runMCMC3.sh
runMCMC4.sh
runMCMC5.sh
runMCMC6.sh
ancestral_reconstruction2.sh
ancestral_reconstruction3.sh
ancestral_reconstruction4.sh
ancestral_reconstruction5.sh
ancestral_reconstruction6.sh
